/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Body */
body {
  background: #0f0f0f;
  color: #fff;
  line-height: 1.6;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 1000;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}

header nav a:hover,
header nav a.active {
  color: #ff4500;
}

/* Home Section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  min-height: 100vh;
  gap: 50px;
}

.home-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #ff4500;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.6);
}

.home-content {
  max-width: 500px;
}

.home-content h1 {
  font-size: 2.5rem;
}

.home-content h1 span {
  color: #ff4500;
}

.home-content h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: normal;
}

.home-content h3 span {
  color: #ff4500;
}

.home-content p {
  margin: 20px 0;
  color: #ddd;
}

/* Social Icons */
.social-icons a {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  font-size: 1.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff4500;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #ff4500;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background: #e63900;
}

/* ////// */
/* //////// */
/* Menu icon */
#menu-icon {
  font-size: 1.8rem;
  color: white;
  display: none;
  cursor: pointer;
}

/* Responsive navbar */
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 70px;
    right: -100%;
    background: #111;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
  }

  nav.active {
    right: 0;
  }

  nav a {
    padding: 15px;
    border-bottom: 1px solid #333;
  }
}
section {
  padding: 100px 50px;
  text-align: center;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #ff4500;
}

/* About */
.about p {
  max-width: 700px;
  margin: auto;
  color: #ddd;
}

/* Skills */
.skill-box {
  max-width: 500px;
  margin: 15px auto;
  background: #1c1c1c;
  padding: 15px 25px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

/* Projects */
.project-card {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(255,69,0,0.2);
}

.project-card h3 {
  color: #ff4500;
}

/* Contact */
.contact span {
  color: #ff4500;
}
